<div class="container">
  <nav class="navigation">
    <!-- Point directly to the server -->
    <span class="list-nav">
      <a href="/pokemon">List of Pokemon</a>
    </span>
    <span class="new-nav">
      <a href="/pokemon/new">Add New Pokemon</a>
    </span>
  </nav>
</div>
